<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No_32</title>
</head>
<body>
  <form action="profile" method="post">
    name:<input type="text" name="name">
    <input type="radio" name="gender" value="男性">男性
    <input type="radio" name="gender" value="女性">女性
    <select name="todoufuken">
    <option value="東京">東京</option>
    <option value="大阪">大阪</option>
    <option value="北海道">北海道</option>
    </select>
    <input type="submit">
  </form>
</body>
</html>